<%= form_with(model: current_race) do |form| %>
  <% if current_race.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(current_race.errors.count, "error") %> prohibited this current_race from being saved:</h2>

      <ul>
        <% current_race.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :race_number, style: "display: block" %>
    <%= form.number_field :race_number %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
