<div class="home-boxes2">
	<a href="/races/overview"><img style="width: 100%;" src="http://photos.grandprix.com/jpeg/homepage/monacogp18preview.jpg" /></a>
</div>






<div class="home-boxes2">
	<a href="/races/overview"><img style="width: 100%;" src="http://photos.grandprix.com/jpeg/homepage/spanishgp18preview.jpg" /></a>
</div>




<div class="home-boxes2 withthumbnail">
	<a href="/races/spanish-gp-2018-race-analysis.html"><img style="width: 100%;" src="http://photos.grandprix.com/jpeg/phc/pspa18/sun/start1-t2.jpg" /></a>
<span class="homepage-overlay"><h2 class="homepage"><a href="/races/spanish-gp-2018-race-analysis.html">Race Analysis</a> <cite>Dan Knutson</cite><br /><a href="/races/spanish-gp-2018-race-analysis.html">Peerless</a></h2></span>
</div>



<div class="home-boxes2 withthumbnail">
	<a href="/features/pointless-luck.html"><img style="width: 100%;" src="http://photos.grandprix.com/jpeg/rubio/paze18/fri/grosjean2-rg.jpg" /></a>
	<span class="homepage-overlay"><h2 class="homepage"><a href="/features/itspointless-luck.html">Pointless luck</a><br /><cite>Dan Knutson</cite></h2></span>
</div>




<div class="home-boxes2 withthumbnail">
	<a href="/races/chinese-gp-2018-race-analysis.html"><img style="width: 100%;" src="http://photos.grandprix.com/jpeg/rubio/pchn18/sun/ricciardo4-rg.jpg" /></a>

	<span class="homepage-overlay"><h2 class="homepage"><a href="/races/chinese-gp-2018-race-analysis.html">Race Analysis</a> <cite>Dan Knutson</cite><br /><a href="/races/chinese-gp-2018-race-analysis.html">Sister act</a></h2></span>
</div>









<div class="home-boxes2">
	<a href="/races/overview"><img style="width: 100%;" src="http://photos.grandprix.com/jpeg/homepage/spanishgp18preview.jpg" /></a>
</div>






<div class="home-boxes2 withthumbnail">
	<a href="/features/feature-williams-facing-a-tough-challenge.html"><img style="width: 100%;" src="http://photos.grandprix.com/jpeg/rubio/pbel17/sat/stroll1-rg.jpg" /></a>
	<span class="homepage-overlay"><h2 class="homepage"><a href="/features/feature-williams-facing-a-tough-challenge.html">Williams facing a tough challenge</a><br /><cite>Dan Knutson</cite></h2></span>
</div>



<div class="home-boxes2">
	<a href="/races/overview"><img style="width: 100%;" src="http://photos.grandprix.com/jpeg/homepage/azerbaijangp18preview.jpg" /></a>
</div>




<div class="homepage-grid2">
	<div class="home-boxes2 withthumbnail">
		<a href="/races/australian-gp-2018-race-analysis.html"><img style="width: 100%;" src="images/australiangp18race.jpg" /></a>
	
		<span class="homepage-overlay"><h2 class="homepage"><a href="/races/australian-gp-2018-race-analysis.html">Race Analysis</a> <cite>Dan Knutson</cite><br /><a href="/races/australian-gp-2018-race-analysis.html">Vettel's cross-threaded victory</a></h2></span>
	</div>













<%= render 'racehub' %>

<% unless story.legacy_photo.nil? %>
	<a href="<%= story.filename %>"><img src="<%= story.legacy_photo.display_photo %>" width="300" height="200" /></a>
	<span class="homepage-overlay"><h2 class="homepage"><a href="<%= story.filename %>"><%= story.headline.upcase %></a></h2></span>
	<% else %>
	<h2 class="homepage"><a href="<%= story.filename %>"><%= story.headline.upcase %></a></h2>
	<% end %>


	<div class="home-boxes<% unless story.legacy_photo.nil? %> withthumbnail"><% else %>"><% end %>



		<div style="padding-right: 0.5em; text-align:right;" class="home-boxes2">
				<a href="http://store.grandprix.com/2017/11/15/the-mechanic-the-secret-world-of-the-f1-pitlane/"><img height="125" width="81" src="http://photos.grandprix.com/jpeg/books/themechanic.jpg" alt="The Mechanic: The Secret World of the F1 Pitlane" /></a><h2><a href="http://store.grandprix.com/2017/11/15/the-mechanic-the-secret-world-of-the-f1-pitlane/">The Mechanic: The Secret World of the F1 Pitlane</a></h2>
				<h4>by Marc 'Elvis' Priestley (Author) - Join McLaren's former Number One mechanic, Marc 'Elvis' Priestley as he tours the world, revealing some of Formula One's most outrageous secrets and the fiercest rivalries, all fuelled by the determination to win.</h4>
				<h4>This is Formula One as you've never seen it before.</h4>
				<h4><a href="http://store.grandprix.com/2017/11/15/the-mechanic-the-secret-world-of-the-f1-pitlane/"><strong>Shop for it now!</strong></a></h4>

			</div>







			<div style="padding-right: 0.5em; text-align:right;" class="home-boxes2">
				<div id="columnfour">
					<a href="http://store.grandprix.com/2017/11/01/how-to-build-a-car-the-autobiography-of-the-worlds-greatest-formula-1-designer/"><img height="166" width="130" src="http://photos.grandprix.com/jpeg/books/howtobuild.jpg" alt="How to Build a Car: The Autobiography of the World's Greatest Formula 1 Designer" /></a><h2><a href="http://store.grandprix.com/2017/11/01/how-to-build-a-car-the-autobiography-of-the-worlds-greatest-formula-1-designer/">How to Build a Car: The Autobiography of the World's Greatest Formula 1 Designer</a></h2>
					<h4>by Adrian Newey (Author) - The world's foremost designer in Formula One, Adrian Newey is arguably one of Britain's greatest engineers and this is his fascinating, powerful memoir. How to Build a Car explores the story of Adrian's unrivalled 35-year career in Formula One through the prism of the cars he has designed.</h4>
					<h4><a href="http://store.grandprix.com/2017/11/01/how-to-build-a-car-the-autobiography-of-the-worlds-greatest-formula-1-designer/"><strong>Shop for it now!</strong></a></h4>
				</div>







					<div style="padding-right: 0.5em; text-align:right;" class="home-boxes2">
						<div id="columnfour">
							<a href="http://store.grandprix.com/2018/01/11/autocourse-2017-2018-the-worlds-leading-grand-prix-annual/"><img height="125" width="94" src="http://photos.grandprix.com/jpeg/books/autocourse2017.jpg" alt="Autocourse 2017-2018: The World's Leading Grand Prix Annual" /></a><h2><a href="http://store.grandprix.com/2018/01/11/autocourse-2017-2018-the-worlds-leading-grand-prix-annual/">Autocourse 2017-2018: The World's Leading Grand Prix Annual</a></h2>
							<h4>The longest running motor racing yearbook is now in its 67th year. First published in 1961, Autocourse features independent and authoritative editorial combined with the sport's finest photography.</h4>
				<a href="http://store.grandprix.com/2018/01/11/autocourse-2017-2018-the-worlds-leading-grand-prix-annual/"><strong>Shop for it now!</strong></a></h4>
						</div>







						<div class="home-boxes2 withthumbnail">
							<a href="/races/azerbaijan-gp-2018-race-analysis.html"><img style="width: 100%;" src="http://photos.grandprix.com/jpeg/rubio/paze18/sun/start1-rg.jpg" /></a>

							<span class="homepage-overlay"><h2 class="homepage"><a href="/races/azerbaijan-gp-2018-race-analysis.html">Race Analysis</a> <cite>Dan Knutson</cite><br /><a href="/races/azerbaijan-gp-2018-race-analysis.html">Blown Victory</a></h2></span>
						</div>








						<div style="padding: 0.2em;padding-right: 0.5em; text-align:right;" class="home-boxes2">
							<div id="columnfour">
								<a href="http://store.grandprix.com/2017/11/15/jenson-button-life-to-the-limit-my-autobiography/"><img height="200" width="130" src="http://photos.grandprix.com/jpeg/books/jensonbutton.jpg" alt="HowJenson Button: Life to the Limit: My Autobiography" /></a><h2><a href="http://store.grandprix.com/2017/11/15/jenson-button-life-to-the-limit-my-autobiography/">Jenson Button: Life to the Limit: My Autobiography</a></h2>
								<h4>by Jenson Button (Author) - The full-length, in-depth and intimate autobiography from Jenson Button, one of Britain's greatest ever racing drivers.</h4>
								<h4><a href="http://store.grandprix.com/2017/11/15/jenson-button-life-to-the-limit-my-autobiography/"><strong>Shop for it now!</strong></a></h4>
							</div>









