<h1>Editing Story - <%= @story.headline %></h1>
<h2><%= link_to 'Show', @story %> | <%= link_to 'Back', stories_path %></h2>
<br />

<%= render 'form', story: @story %>
<br />

<h2><%= link_to 'Show', @story %> | <%= link_to 'Back', stories_path %></h2>
