<h1>New Story</h1>
<br />
<h2><%= link_to 'Show', @story %> | <%= link_to 'Back', stories_path %></h2>
<br />

<%= render 'form', story: @story %>

<br />
<h2><%= link_to 'Show', @story %> | <%= link_to 'Back', stories_path %></h2>
