<p id="notice"><%= notice %></p>
<h1><%= @story.headline %></h1>
<h2><%= link_to 'Back', stories_path %></h2>
<br />
<p>
  <strong>ID:</strong>
  <%= @story.id %>
</p>
<p>
  <strong>Category:</strong>
  <%= @story.category_id %>
</p>

<p>
  <strong>Template:</strong>
  <%= @story.ornament_id %>
</p>

<p>
  <strong>Race detail:</strong>
  <%= @story.race_detail_id %>
</p>

<p>
  <strong>Legacy photo:</strong>
  <%= @story.legacy_photo %>
</p>

<p>
  <strong>Storyid:</strong>
  <%= @story.storyid %>
</p>

<p>
  <strong>Headline:</strong>
  <%= @story.headline %>
</p>

<p>
  <strong>Sort name:</strong>
  <%= @story.sort_name %>
</p>

<p>
  <strong>Abstract:</strong>
  <%= @story.abstract %>
</p>

<p>
  <strong>Body:</strong>
  <%= @story.body %>
</p>

<p>
  <strong>Body html:</strong>
  <%= @story.body_html %>
</p>

<p>
  <strong>Filename:</strong>
  <%= @story.filename %>
</p>

<p>
  <strong>Name slug:</strong>
  <%= @story.name_slug %>
</p>

<p>
  <strong>Legacy filename:</strong>
  <%= @story.legacy_filename %>
</p>

<p>
  <strong>Author:</strong>
  <%= @story.author %>
</p>

<p>
  <strong>Feature type:</strong>
  <%= @story.feature_type %>
</p>

<p>
  <strong>Revision:</strong>
  <%= @story.revision %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @story.priority %>
</p>

<p>
  <strong>Publish:</strong>
  <%= @story.publish %>
</p>

<p>
  <strong>Analysis:</strong>
  <%= @story.analysis %>
</p>

<p>
  <strong>Show author:</strong>
  <%= @story.show_author %>
</p>

<p>
  <strong>Date live at:</strong>
  <%= @story.date_live_at %>
</p>

<p>
  <strong>Date live on:</strong>
  <%= @story.date_live_on %>
</p>

<br />
<h2><%= link_to 'Back', stories_path %></h2>
